﻿@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model bool
@{
	Layout = null;
}
@if (Model)
{
	<div id="company-logo"></div>
}
else
{
	<a href="/" id="company-logo" title="@Localizer["Back to homepage"]"></a>
}