@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Localization
@using Web.Controllers
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<ResourceController> SharedLocalizer
@model bool
@{
	Layout = null;
}
@if (Model)
{
	<div id="company-logo"></div>
}
else
{
	<a href="/" id="company-logo" title="@SharedLocalizer["Back to homepage"]"></a>
}