
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Web.Controllers
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<ResourceController> SharedLocalizer
@model string[]
@{
	Layout = null;
	var currentLocale = CultureInfo.DefaultThreadCurrentUICulture.ToString();
	var toggle = Model.Length == 2 ? "toggle": "group";
}

<div class="box-locale">
	<form method="post" action="/Resource/Change" autocomplete="off" novalidate>
		@Html.AntiForgeryToken()
		<div class="btn-@(toggle)">
		@foreach(var locale in Model)
		{
			string isChecked = currentLocale == locale ? "checked" : "";
			string name = locale.Split('-').First();
			<label for="locale-@locale" class="@isChecked" title="@SharedLocalizer[@locale]">
				<input type="radio" id="locale-@locale" name="locale" @isChecked value="@locale">@name
			</label>
		}
		</div>
	</form>
</div>