@using Library.Repositories
@using Library.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject ConfigRepository Config
@inject IViewLocalizer Localizer
@model ImageModel
@{
	Layout = null;
	var config = Config.GetConfig();
}

<div class="content-@ViewBag.Action.ToLower() align-center">
	@if(ViewBag.Title != null && ViewBag.Title != "")
	{
	<header>
		@Html.Raw(ViewBag.Title)
	</header>
	}
	<figure>
		<img src="~/templates/@config.Path/images/@Model.Image.Url" alt="@Model.Image.Alt"/>
	</figure>
	@if(ViewBag.Text != null && ViewBag.Text != "")
	{
	<section>
		@Html.Raw(ViewBag.Text)
	</section>
	}
</div>