@using Library.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ArticleContent
@{
	Layout = null;
}
<div class="content-@Model.Action.ToLower()">
	<h2>@Html.Raw(Model.Title)</h2>
</div>