/// <reference path="../lib/bootstrap/less/bootstrap.less" />
html{
	height: 100%;
	display: block;
	font-family: @font-family;
	font-size: @font-size;
	line-height: @line-height;
	color: @font-color;
}

body{
	overflow: auto;
	background-image: url("../images/spacer.gif");  //Only needed for the transition to the loader icon
	background-color: @body-bg;
	.transition(~"background-image 0.3s ease-in 1.3s");
}

a,
a:active,
a:visited{
	&:not(.btn){
		color: @link-color;
		text-decoration: @link-underline;
		outline: none;

		&:hover{ text-decoration: underline; }
	}
}

.btn{
	font-size: @font-size-small;
	text-decoration: none;
	text-transform: uppercase;
	padding: @padding-base-horizontal @padding-large-horizontal;

	&.btn-round{
		.border-radius(50%);
		border-width: 2px;
		padding: @padding-base-horizontal;

		&.btn-sm{ width: @line-height-small; }
		&.btn-lg{ width: @line-height-large; }

		&.btn-default{
			&:hover{
				color: @btn-default-inverted;
				background: @btn-default-color;
				border-color: @btn-default-color;
			}
		}
	}
}

p{ margin: @padding-base 0; }

h1,
h2,
h3{ margin: 0; }

label + p,
h1 + p,
h2 + p{ margin: @padding-base-vertical 0 @padding-base 0; }
h3 + p{ margin: calc(@padding-base-vertical * 0.3) 0 @padding-base 0; }

img.pull-right{ margin: 0 0 @alert-padding @alert-padding; }

img.pull-left{ margin: 0 @alert-padding @alert-padding 0; }

.align-center{ text-align: center; }
.align-left{ text-align: left; }
.align-right{ text-align: right; }

.label {
	.border-radius(@border-radius-large);
	cursor: default;
	display: inline-block;
    line-height: 1.2em;

	&.label-default{
		background: transparent;
		color: @label-default-bg;
		border: 1px solid @label-default-bg;
	}
}

[role=progressbar]{
	&.circular{
		.circle(6em);
		display: inline-block;
		line-height: 6em;
		position: relative;
		margin: 0 1em @line-height-large 1em;
		&::before{
			.circle(4.6em);
			line-height: 4.6em;
			content: attr(aria-valuenow) + "%";
			display: inline-block;
			margin-top: -0.4em;
			vertical-align: middle;
			background-color: @component-active-color;
		}
		&::after{
			content: attr(title);
			display: inline-block;
			text-align: center;
			line-height: @line-height-base;
			position: absolute;
			bottom: -@line-height-large;
			left: 0;
			right: 0;
		}
		.gradient-progress(@company-action-color, @body-bg);
	}
}

.skillsbar{
	list-style: none;
	padding: 0;
	span{
		display: inline-block;
		min-width: 12em;
		text-align: left;
		font-size: @font-size-small;
	}
	li{
		.circle(0.5em);
		display: inline-block;
		padding: 0;
		border: 1px solid @company-action-color;
		margin-left: 0.4em;
		&.checked{
			background-color: @company-action-color;
		}
	}
}

.btn-toggle{
	background-color: @navbar-font-color;
	font-size: 0;
	line-height: 0;
	.border-radius(@font-size);

	label{
		margin: 0;
		text-transform: uppercase;
		color: @company-action-color;
		text-align: center;
		font-size: @font-size-small;
		padding: 0.25em;
		line-height: 1.5em;
		width: 1.5em;
		height: 1.5em;
		border: 2px solid transparent;

		.border-radius(1.5em);

		input{ display: none; }

		&:not(.checked){
			cursor: pointer;
			background-color: @company-action-color;
			border-color: @navbar-font-color;
		}
	}
}

.row{
	.flex-display();
	.justify-content(space-between);
	.flex-direction(row);
	.flex-wrap(wrap);

	.col-md-6{
		.flex(1 1 auto);
	}
}

.padding{ padding: 0 2em; }

#header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	padding: @navbar-padding 0;
	background-color: @navbar-default-bg;

	.content-wrapper{
		#company-logo{
			display: block;
			color: transparent;
			text-indent: -9999px;
			background: transparent url(@company-logo) no-repeat 0 0;
			background-size: auto 100%;
			width: @company-logo-width;
			height: @company-logo-height;
			margin: 0.5em 0;
			//.transition(~"height 0.2s ease-in-out 0s");
		}

		#company-contact{
			display: block;
			color: transparent;
			text-indent: -9999px;
			background: transparent url(@company-contact) no-repeat center right;
			width: @company-contact-width;
			height: @company-contact-height;

			.transition(~"width .2s ease-in-out 0s");
		}
	}

	&.fixed{
		.content-wrapper{
			//#company-logo{ height: @company-contact-height; }
		}
	}

	nav{
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;

			li{
				display: inline-block;

				> a,
				> a:visited,
				> a:active{
					position: relative;
					display: none;
					padding: 0 round(@line-height /2);
					font-family: @navbar-font-family;
					font-size: @navbar-font-size;
					color: @navbar-font-color;
					white-space: nowrap;
					line-height: @navbar-line-height;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 1px;

					&:after{
						content: '';
						opacity: 0;
						display: block;
						position: absolute;
						background: @navbar-default-brand-color;
						height: 2px;
						bottom: 0;
						left: 0;
						width: 100%;

						.transition(~"opacity .2s ease-out, transform .2s ease-out");
						.scaleX(0);
					}

					&:focus,
					&:hover{
						text-decoration: none;
						outline: none;

						&:after{
							opacity: 0.8;
							.scaleX(1);
						}
					}

					&:active,
					&.active{
						color: @navbar-font-color;

						&:after{
							.scaleX(1);
							opacity: 1;
						}
					}
				}

				.subItem{
					li{
						> a{ display: block; }
					}
				}
			}
		}
	}
}

#top{
	margin: 2em 0;

	nav{
		.flex(1 1 auto);

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;

			li{
				display: inline;

				> a,
				> a:visited,
				> a:active{ display: none; }

				a.active + ul.subItem{
					display: block;
					text-align: center;

					a{
						.border-radius(@btn-border-radius-base);
						.transition(~"background-color .2s ease-out, color .2s ease-out");
						display: inline;
						padding: @padding-base-horizontal @padding-large-horizontal;
						font-size: @font-size-small;
						color: @gray-lighter;
						white-space: nowrap;
						line-height: @navbar-line-height;
						text-transform: uppercase;
						text-decoration: none;
						letter-spacing: 1px;

						&:hover,
						&.active{
							background-color: @gray-lighter;
							color: @navbar-font-color;
						}
					}

					.subItem{ display: none; }
				}
			}
		}
	}
}

#footer{
	background: @footer-background;
	color: @footer-font-color;

	> .content-wrapper{
		display: block;
	}

	#backToTop{
		position: fixed;
		z-index: 1000;
		display: block;
		bottom: 1.5em;
		right: -1.6em;
		width: 1.5em;
		height: 1.5em;

		font-family: Arial, Helvetica, sans-serif;
		font-size: 2em;
		text-align: center;
		text-decoration: none;
		line-height: 1.9em;

		background-color: fade(@font-color, 20%);
		color: fade(@font-color, 30%);

		.border-radius(~"0.2em 0 0 0.2em");
		.box-shadow(0 1px 5px 2px rgba(0, 0, 0, 0.3));
		.transition(~"color .4s ease-in-out, background-color .4s ease-in-out, right .4s ease-in-out");

		&:hover{
			background-color: fade(@font-color, 40%);
			color: fade(@font-color, 50%);
		}

		&.active{ right: 0; }
	}

	#copyright{
		width: 100%;
		font-size: 0.8em;
		a{ font-weight: bold; }
	}
}

.fill{
	footer{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

#body{
	margin-top: @body-margin;
	overflow: hidden;
	height: calc(~"100% - (@{line-height} * 2.5)");

	footer{ background-color: transparent;}
}

.bold,
.action{ font-weight: bold; }

.action{ color: @company-action-color; }

.loading{
	background-image: url("@{image-path}loader2.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.modal-open{ padding-right: 0!important; }

.content-wrapper{
	.flex-display();
	.align-items(center);
	.justify-content(space-between);
	width: 65%;
	margin: auto;
}

// Panel
.panel{
	overflow: hidden;
	background-color: @panel-bg;
	padding: @panel-body-padding;
	.box-shadow(0 1px 1px 1px rgba(0,0,0,0.05));

	.panel-body{
		> h1, > h2, > h3{ margin-top: 0; }

		p:first-child{ margin-top: 0; }

		p:last-child{ margin-bottom: 0; }
	}
}

.template-maintenance{
	.container{
		.flex-display();
		.align-items(center);
		.justify-content(center);
		min-height: 100%;

		.panel{
			width: 50%;
			border-top: @progress-height solid @company-success;
			margin: (@company-logo-height * 1.7) 0;
		}
	}
}

.content-text,
.content-form,
.content-image,
.content-section,
.content-product,
.content-productlist{
	width: 65%;
	margin: 2em auto;
	box-sizing: border-box;
}

.content-image{
	.box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.2));
	background-color: @content-background;
	padding: 0;
	figure{
		background-color: @panel-bg;
		padding: @padding-base;
		margin: 0;
	}
	section{
		padding: @padding-base;

		p:first-child:not(:last-child){ margin-top: 0; }
		p:last-child:not(:first-child){ margin-bottom: 0; }

		.btn{ min-width: 12em; }
	}
}

.content-product,
.content-productlist{
	figure{
		margin: 0;

		img{
			width: 100%;
			height: 15em;
			border: none;
			text-align: center;
			vertical-align: middle;
			font-style: italic;
			line-height: 15em;
			text-decoration: none;
			background: @body-bg;
			color: @font-color;
			font-size: 0.7em;
		}
	}
}

.content-carousel{
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 20em;
	text-align: center;
	border-bottom: 1px solid @company-action-color;

	a.arrow{
		position: absolute;
		z-index: 3;
		overflow: hidden;
		width: 5em;
		height: 20em;
		top: 0;
		left: 0;

		background-color: transparent;
		color: transparent;

		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		line-height: 1em;

		.transition(~"color .4s ease-in-out 0.2s, background-color .4s ease-in-out 0.2s");

		&:active,
		&:visited,
		&:hover{
			text-decoration: none;
			background-color: fade(@body-bg, 20%);
			color: fade(@font-color, 30%);
			.transition(~"background-color .4s ease-in-out 1.5s");
		}

		&:focus{
			text-decoration: none;
			background-color: fade(@body-bg, 20%);
			color: fade(@font-color, 30%);
		}

		&:before{
			content: '<';
			display: block;
			overflow: hidden;
			line-height: 4em;
			font-size: 5em;
		}

		&.next{
			left: auto;
			right: 0;

			&:before{ content: '>'; }
		}
	}

	nav{
		position: relative;
		z-index: 2;
		margin-top: -2.5em;

		a{
			display: inline-block;
			line-height: 0;
			width: 0.6em;
			height: 0.6em;
			background-color: @font-color;
			border: 2px solid @font-color;
			margin-right: 0.8em;
			cursor: pointer;
			.border-radius(0.8em);

			&.active{
				background-color: fade(@font-color, 50%);
				border-color: @company-action-color;
			}

			&:last-child{ margin-right: 0; }
		}
	}

	.wrapper{
		position: relative;
		z-index: 1;
		text-align: left;
		width: 100%;
		overflow: hidden;
		left: 0;
		top: 0;
		.transition(~"left 0.5s ease-in-out, top 0.5s ease-in-out");

		.slide{
			box-sizing: border-box;
			display: block;
			float: left;
			width: calc(100% - 10em);
			height: 20em;
			overflow: hidden;
			text-decoration: none;

			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
			//background-attachment: fixed;

			color: @font-color;
		}
	}
}

.form-control{
	width: calc(~"100% - 1em");
	border-width: @input-border-width;
	border-color: @input-border;
	height: auto;
	.box-shadow(~'none !important');

	.form-control-focus();

	&[required]{
		border-width: @input-border-width-required;
		border-color: @input-border-required;

		.form-control-focus();
	}

	&:not(:focus):not(disabled):hover{
		background-color: darken(@input-bg-focus, 3%);
	}

	&[type=textarea]{
		min-height: 10em;
	}
}

.content-section{
	.flex-display();
	.justify-content(space-between);

	background: @content-section-background;
	padding: @content-section-padding;

	section{
		.flex(1 0 0);
		text-align: center;
		padding: @padding-base-vertical @padding-large-horizontal;
		&:not(:last-of-type){
			border-right: 2px solid @gray-lighter;
		}

		h2{ text-transform: uppercase; }

		p{ margin: 0.5em; }
	}
}

.form-group{
	label{
		margin: 0 0 @padding-base-horizontal @padding-base-horizontal;
	}
}

.box-social{
	width: 100%;
	text-align: right;

	a{
		display: inline-block;
		overflow: hidden;
		text-indent: 9999px;
		width: 3em;
		height: 3em;
		background: transparent no-repeat center center;

		&.social-linkedin{ background-image: url("@{image-path}icon_linkedin.svg"); }
		&.social-dribbble{ background-image: url("@{image-path}icon_dribbble.svg"); }
		&.social-facebook{ background-image: url("@{image-path}icon_facebook.svg"); }
	}
}

.content-product{
	.flex-display();
	.justify-content(space-between);
	.flex-direction(row);
	.flex-wrap(wrap);

	.box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.2));
	background: @component-active-color;
	padding: 2em;

	header{
		.flex(0 0 100%);

		a.btn{ vertical-align: middle; }

		h1 {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.row{
		.flex-display();
		margin: 1.5em -2em;
	}

	section{
		.flex(0 1 57%);
		padding: 0 2em;
		border-right: 1px solid @body-bg;

		&:last-of-type{
			.flex(0 1 27%);
			//padding-right: 0;
			border: none;
		}

		p:last-child{
			margin-bottom: 0;
		}
	}

	figure{
		.flex(0 0 100%);
		margin: 0;
		img{ margin-bottom: 3.3em; }
	}

	footer{
		.flex(0 0 100%);
		text-align: center;
	}
}

.content-productlist{
	.container{
		.flex-display();
		.justify-content(space-between);
		flex-flow: row wrap;
		margin: 0 -2em -2em 0;

		.productinfo,
		.productinfo:active,
		.productinfo:focus{
			.flex-display();
			.flex-direction(column);
			.flex(1 1 calc(~"33% - 2em"));
			.border-radius(2px);
			.box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.2));
			background: @component-active-color;
			margin: 0 2em 2em 0;
			text-decoration: none;

			figure{ order: 1; }

			header{
				order: 2;
				margin: 1em;

				h4{ display: none; }
			}
			footer{
				order: 3;
				display: none;
			}
		}
	}
}

.google-maps{color: black;}

// Page Animation
.pt-page-scaleDownCenter {
	.animation(~"scaleDownCenter .3s ease-in both");
}

.pt-page-scaleUpCenter {
	.animation(~"scaleUpCenter .3s ease-out both");
}

@-moz-keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -webkit-transform: scale(.7); -moz-transform: scale(.7); -o-transform: scale(.7); -ms-transform: scale(.7); transform: scale(.7); }
}
@-webkit-keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -webkit-transform: scale(.7); -moz-transform: scale(.7); -o-transform: scale(.7); -ms-transform: scale(.7); transform: scale(.7); }
}
@keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -webkit-transform: scale(.7); -moz-transform: scale(.7); -o-transform: scale(.7); -ms-transform: scale(.7); transform: scale(.7); }
}
@-moz-keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); -moz-transform: scale(.7); -o-transform: scale(.7); -ms-transform: scale(.7); transform: scale(.7); }
}
@-webkit-keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); -moz-transform: scale(.7); -o-transform: scale(.7); -ms-transform: scale(.7); transform: scale(.7); }
}
@keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); -moz-transform: scale(.7); -o-transform: scale(.7); -ms-transform: scale(.7); transform: scale(.7); }
}