@using Web.Repositories
@inject ConfigRepository Config
@{
	Layout = null;
	var config = Config.GetConfig();
	var currentYear = DateTime.Now.Year;
}
<div id="copyright" class="content-wrapper">
	<div>Copyright © 2015 - @currentYear @config.Name</div>
	<div>Powered by <a href="http://www.inhousemedia.nl" target="_blank">Inhouse Media</a>.</div>
</div>