@using Library.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ArticleContent
@{
	Layout = null;
}

<article class="content-@Model.Action.ToLower()">
	<header class="title">
		<h1>@Html.DisplayFor(m => m.Title)</h1>
	</header>
	<section>
		@Html.Raw(Model.Text)
	</section>
	@if (Model.Code != null)
	{
		<script type="text/javascript">
			@Html.Raw(Model.Code)
		</script>
	}
</article>