@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Localization
@using Web.Controllers
@using Web.Repositories
@inject ConfigRepository Config
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<ResourceController> SharedLocalizer
@{
	Layout = null;
	var config = Config.GetConfig();
}
<a href="tel:@config.Company.Contact.Phonenumber" id="company-contact" title="@SharedLocalizer["Contact our {0} Servicedesk.", config.Name]">@SharedLocalizer["Contact our {0} Servicedesk.", config.Name]</a>