// <reference path="site.bootstrap.less" />
#header {
	.box-locale{
		margin-left: 1.5em;
	}

	nav{
		.flex(1 1 auto);
		text-align: right;

		ul.menu .subItem li > .subItem{ display: none; }
	}
}

.content-text,
.content-image,
.content-section,
.content-product{
	.box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.2));
}

.content-text{
	background-color: @content-background;
	padding: @padding-base;
}

.content-text{
	text-align: center;
	h2{
		text-align:left;
	}
}

.template-homepage{
	.content-image:first-child{
		width: 100%;
		margin-top: 0;
	}
}