// <reference path="site.bootstrap.less" />
#header nav ul.menu .subItem li > .subItem{ display: none; }

.content-text{
	.box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.2));
	background-color: @content-background;
	padding: @padding-base;
}

.content-text{
	text-align: center;
}