/// <reference path="Binck/site.bootstrap.less" />
@font-face {
    font-family: 'now-regular';
    src: url('@{icon-font-path}Now/now-regular-webfont.eot');
    src: url('@{icon-font-path}Now/now-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{icon-font-path}Now/now-regular-webfont.woff') format('woff'),
         url('@{icon-font-path}Now/now-regular-webfont.ttf') format('truetype'),
         url('@{icon-font-path}Now/now-regular-webfont.svg#now_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'now-medium';
    src: url('@{icon-font-path}Now/now-medium-webfont.eot');
    src: url('@{icon-font-path}Now/now-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{icon-font-path}Now/now-medium-webfont.woff') format('woff'),
         url('@{icon-font-path}Now/now-medium-webfont.ttf') format('truetype'),
         url('@{icon-font-path}Now/now-medium-webfont.svg#now_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'now-bold';
    src: url('@{icon-font-path}Now/now-bold-webfont.eot');
    src: url('@{icon-font-path}Now/now-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{icon-font-path}Now/now-bold-webfont.woff') format('woff'),
         url('@{icon-font-path}Now/now-bold-webfont.ttf') format('truetype'),
         url('@{icon-font-path}Now/now-bold-webfont.svg#now_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}