// <reference path="site.bootstrap.less" />
#header nav ul.menu .subItem li > .subItem{ display: none; }

.content-image{
	width: 100%;
	background-color: @panel-bg;
	padding: (@padding-base * 5) 0;
	margin-top: 0;
}

.content-text{
	text-align: center;
}