@using Library.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ArticleContent
@{
	Layout = null;
}

<div class="content-@Model.Action.ToLower()">
	<hgroup class="title">
		<h1>@Html.DisplayFor(m => m.Title)</h1>
	</hgroup>

	@Html.Raw(Model.Text)

	@if (Model.Code != null)
	{
		<script type="text/javascript">
			@Html.Raw(Model.Code)
		</script>
	}
</div>